// colors
$color-orange:  #ff6964;
$color-purple:  #3c1e5f;
$color-blue:    #19e1e1;
$color-grey:    #b9b9b9;
$color-black:   #000000;
$color-white:   #ffffff;

//fonts
@font-face {
    font-family: "Albuna-Pro";
    src: url("fonts/albula-pro/AlbulaPro-Bold.otf") format("truetype");
    font-weight: 700;
<<<<<<< HEAD
}

@font-face {
    font-family: "Albuna-Pro";
    src: url("fonts/albula-pro/AlbulaPro-ExtraBold.otf") format("truetype");
    font-weight: 800;
=======
>>>>>>> monthly-data
}

@font-face {
    font-family: "Albuna-Pro";
    src: url("fonts/albula-pro/AlbulaPro-ExtraBold.otf") format("truetype");
    font-weight: 800;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,500&display=swap');

$font-albula: "Albuna-Pro", sans-serif;
$font-roboto: 'Roboto Mono', monospace;




